:root {
    --header-height: var(--size-vertical);

    --header-padding-horizontal: var(--size-unit);
    --header-padding-vertical: var(--size-unit);
}

header {
    position: sticky;
    top: 0;

    height: var(--header-height);

    background-color: var(--color-main);

    padding: calc(0.5*var(--size-vertical)) var(--size-horizontal);

    user-select: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

header * {
    text-decoration: none;
    transform: translateY(5%);
    font-size: var(--header-height);
    overflow: unset;
}

header>#logo {
    height: 90%;
    transform: translateY(-5%);
}

@media (min-width:481px) {                  /* -- PC -- */


    header>#tfno {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}


@media (max-aspect-ratio:1.5/1) {  /* -- Thin PC -- */
    header>#tfno {
        position: inherit;
        left: unset;
        transform: unset;
    }
}

@media (max-aspect-ratio:1.15/1) {  /* -- Thinest PC -- */
    
    header>#menu {
        display: none;
    }
}


@media only screen and (max-width:481px) {  /* -- Mobile -- */

    header>#menu {
        display: none;
    }

}