#tfno {
    text-decoration: none;
    display: flex;

    height: 100%;
    align-items: center;
}

#tfno > img {
    height: 35%;
    position: relative;
    top: 5%;
    margin: 4px;
    transform: translateY(-10%);
}