@import url(./banner-mensaje-pc.css);
@import url(./banner-mensaje-mobile.css);

#banner-mensaje {
    box-shadow: var(--shadow);
    background: var(--color-main);
    border-radius: var(--border-radius);

    display: flex;
    align-items: end;
    justify-content: center;
}

#banner-mensaje h1 {
    text-align: center;
    font-weight: bold;
}

#banner-mensaje p {
    line-height: 100%;
}

#banner-mensaje * {
    width: fit-content;
    overflow: clip;
}

#banner-mensaje #por-solo, #banner-mensaje #ubicaciones, #banner-mensaje #por-solo-big{
    align-items: baseline;
}

#banner-mensaje #ubicaciones {
    display: flex;
}

#banner-mensaje #por-solo icon, #banner-mensaje #por-solo-big icon, #banner-mensaje #ubicaciones icon{
    aspect-ratio: 1;
    margin-right: 0.5vw;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#banner-mensaje #por-solo icon, #banner-mensaje #por-solo-big icon{
    background-image: url("/media/icons/price.png");
}
#banner-mensaje #ubicaciones icon{
    background-image: url("/media/icons/location.svg");
    transform:translateY(10%)
}

#banner-mensaje #por-solo > #precio, #banner-mensaje #por-solo-big > #precio{
    color: var(--color-secondary);
    font-family: Amaranth;
}
#banner-mensaje #por-solo > #moneda, #banner-mensaje #por-solo-big > #moneda{
    color: var(--color-secondary);
}
