@import url(./banner-mensaje-pc.css);
@import url(./banner-mensaje-mobile.css);

#banner-mensaje {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    padding: calc(0.5*var(--size-vertical)) calc(0.5*var(--size-horizontal));

    left: 50%;
    transform: translate(-50%);
    position: relative;
}

#banner-mensaje h1 {
    text-align: center;
    font-weight: bold;
    color: var(--color-text);

    transform: translateY(-8%);
}

#banner-mensaje p {
    line-height: 100%;
    font-size: var(--size-vertical);
}

#banner-mensaje #por-solo{
    align-items: baseline;
    transform: translateX(5%);
}

#banner-mensaje #texto {
    width: 100%;
    text-align: center;
}

#banner-mensaje a {
    text-decoration: none;
    background-color: var(--color-secondary-highlight);
    padding: calc(0.5*var(--size-vertical));
    border-radius: var(--border-radius);
    font-size: var(--size-vertical);

    box-shadow: var(--shadow);
    font-weight: bold;
}

#banner-mensaje #por-solo icon, #banner-mensaje #por-solo-big icon{
    background-image: url("media/icons/price.png");
}
#banner-mensaje #ubicaciones icon{
    background-image: url("media/icons/location.svg");
    transform:translateY(10%)
}

#banner-mensaje #por-solo > #precio, #banner-mensaje #por-solo-big > #precio{
    color: var(--color-secondary);
    font-family: Amaranth;
    font-size: calc(4*var(--size-vertical));
}
#banner-mensaje #por-solo > #moneda, #banner-mensaje #por-solo-big > #moneda{
    color: var(--color-secondary);
    font-size: var(--size-vertical);
}



@media (max-aspect-ratio:1.15/1) {  /* -- Thinest PC -- */
    
    #banner-mensaje a {
        opacity: 0;
    }
}