
@media (min-aspect-ratio: 3/4) {                  /* -- PC -- */
    #banner-mensaje {
        height: 100%;
    }

    #banner-mensaje h1 {
        font-size: calc(1.75*var(--size-vertical));
    }

    #banner-mensaje #por-solo {
        display: flex;
        margin-bottom: var(--size-vertical);
    }
}
