
@media (min-width:481px) {                  /* -- PC -- */

    #banner-reseñas {
        margin-top: var(--size-vertical);

        height: calc(1.5*var(--size-vertical));

        padding: calc(0.5*var(--size-vertical));
    }

}