@import url(./banner-reseñas-pc.css);
@import url(./banner-reseñas-mobile.css);

#banner-reseñas {
    box-shadow: var(--shadow);
    background: var(--color-text);
    border-radius: var(--border-radius);

    display: flex;
    align-items: center;
    width: fit-content;

    margin-top: var(--size-vertical);
    height: calc(1.5*var(--size-vertical));
    padding: calc(0.5*var(--size-vertical));
}

#banner-reseñas #logo-google {
    aspect-ratio: 1;
    height: 100%;
    margin-right: 1vw;
}

#banner-reseñas #estrellas {
    display: flex;
    height: 100%;
    align-items: center;
    width: fit-content;
}

#banner-reseñas #estrellas > * {
    aspect-ratio: 1;
    height: var(--size-vertical);
    background-image: url(/media/icons/star.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    margin-right: 0.1vw;
}
