@import url(ubicacion-card.css);

#Ubicaciones {
    display: flex;
}

#Ubicaciones #map {
    width: 45%;
    border: none;
}

#Ubicaciones #cards {
    width: 55%;
}

#Ubicaciones #ubi-cards {
    padding: var(--size-vertical) var(--size-horizontal);
    
    background-image: url(/media/images/patron.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
}