
@media only screen and (max-width:481px) {  /* -- Mobile -- */

    #banner {
        height: var(--banner-height-mobile);
        background-size: var(--banner-backgroud-size-mobile);
    }

    #banner #contenido > * {
        margin: 3vh 3vw 0 3vw;
    }

}