
@media (min-width:481px) {                  /* -- PC -- */

    #banner {
        height: var(--banner-height-pc);
        background-size: var(--banner-backgroud-size-pc);
    }

    #banner #contenido {
        padding: 0 calc(4*var(--size-horizontal));
    }
}
