
@media only screen and (max-aspect-ratio: 3/4) {  /* -- Mobile -- */

    #banner {
        height: var(--banner-height-mobile);
        background-size: var(--banner-backgroud-size-mobile);
    }

    #banner #contenido > * {
        margin: var(--size-horizontal) var(--size-vertical);
    }

}