@import url(curso-card.css);
@import url(paquete-card.css);
@import url(cursos-pc.css);
@import url(cursos-mobile.css);

#Cursos {
    background-image: url(/media/images/patron.png);
    background-size: cover;
    display: flex;
}

#cursos {
    margin: var(--size-vertical) var(--size-horizontal);

    display: flex;
    flex-wrap: wrap-reverse;
}


#paquetes > #background {
    background-color: var(--color-secondary);
    mix-blend-mode: multiply;

    width: 100%;
    height: 100%;
}
#paquetes > #contenido {
    padding: var(--size-vertical) var(--size-horizontal);

    top: -100%;
    position: relative;
}

#paquetes > #contenido > h1 {
    color: var(--color-text);
    isolation: isolate;
}

#paquetes-holder {
    display: flex;
    flex-wrap: wrap;
}