
@media only screen and (max-aspect-ratio: 3/4) {  /* -- Mobile -- */

    #cursos-paquetes {
        flex-direction: column;
    }

    #cursos, #paquetes-holder{
        justify-content: center;
    }

    #paquetes {
        background-color: #FF6A00a0;
    }
}