@import url(curso-card.css);

#cursos-holder {
    background-image: url(/media/images/patron.png);
    background-size: cover;
    display: flex;
    height: 500px;
}

#cursos {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#paquetes {
    width: 50%;
    background-color: var(--color-secondary);
    mix-blend-mode: multiply;
}