.curso {
    background-size: cover;
    background-position: center;

    aspect-ratio: 1;
    height: calc(6*var(--size-vertical));

    margin: calc(0.5*var(--size-vertical)) calc(0.5*var(--size-horizontal));

    border-radius: var(--border-radius);
}

.curso > #overlay {
    width: 100%;
    height: 100%;
    background: var(--overlay-background);
    border-radius: var(--border-radius);
}

.curso > #contenido {
    position: relative;
    top: -100%;
    height: 100%;

    flex-direction: column;
}

.curso #name {
    position: absolute;
    bottom: calc(0.5*var(--border-radius));
    right: var(--border-radius);
    font-size: var(--size-vertical);
}

.curso #price-tag {
    background-image: url(/media/images/decorado-esquina-azul.png);
    background-size: cover;
    background-position: center;

    aspect-ratio: 1;
    height: calc(3*var(--size-vertical));

    position: absolute;
    top: 0;
    left: 0;
}

.curso #price-tag > #price {
    width: 100%;
    height: 100%;

    transform: rotate(-45deg) translate(2%, 5%);
    
    text-align: center;
    font-size: var(--size-vertical);
}

.curso #price-tag > #price::after {
    content: "€";
    font-size: calc(0.75*var(--size-vertical));
}