
@media (min-aspect-ratio: 3/4) {                  /* -- PC -- */

    #cursos-holder {
        height: calc(20*var(--size-vertical));
    }

    #cursos {
        width: calc(55% - 2* var(--size-horizontal));

        flex-direction: column;

        align-content: baseline;
        justify-content: center;
    }

    #paquetes {
        width: 45%;
    }
    
}