@import url(curso-card.css);
@import url(cursos-pc.css);
@import url(cursos-mobile.css);

#cursos-holder {
    background-image: url(/media/images/patron.png);
    background-size: cover;
    display: flex;
}

#cursos {
    padding: var(--size-vertical) var(--size-horizontal);

    display: flex;
    flex-wrap: wrap-reverse;
}

#paquetes {
    background-color: var(--color-secondary);
    mix-blend-mode: multiply;
}