<link rel="stylesheet" href="css/banner/banner.css">

<div id="banner">
    <div id="overlay"></div>

    <div id="contenido">

        <div id="banner-reseñas">
            <img id="logo-google" src="media/icons/Google.png">
            <div id="estrellas">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        <div id="banner-homologaciones">
            <p>Cursos Homologados</p>
            <div id="iconos">
                <img src="media/images/homologaciones/cert 58451.png"> 
                <img src="media/images/homologaciones/cert 58923.png">
                <img src="media/images/homologaciones/cert 9001.png">
            </div>
        </div>
        
        <div id="banner-mensaje">
            <div id="texto">
                <h1>Curso presencial de carretillero</h1>
                <p>Madrid y Murcia</p>
            </div>
            <div id="por-solo">
                <p id="precio">50</p>
                <p id="moneda">€</p>
            </div>
            <a href="#Cursos" class="button">Comparar Ya</a>
        </div>
        
    </div>
</div>