<link rel="stylesheet" href="/css/conocenos/conocenos.css">

<div id="Conocenos">
    <h1>Conócenos</h1>
    <h2>Nuestro equipo</h2>
    <div id="trabajadores">
        <template id="Conocenos/Trabajador"></template>
        <template id="Conocenos/Trabajador"></template>
        <template id="Conocenos/Trabajador"></template>
        <template id="Conocenos/Trabajador"></template>
        <template id="Conocenos/Trabajador"></template>
    </div>
    <div id="progreso">
        <div onclick="seleccionarTrabajador(0)"></div>
        <div onclick="seleccionarTrabajador(1)"></div>
        <div onclick="seleccionarTrabajador(2)"></div>
        <div onclick="seleccionarTrabajador(3)"></div>
        <div onclick="seleccionarTrabajador(4)"></div>
    </div>
    <div id="botones">
        <div id="anterior" class="button" onclick="moverTrabajador(-1)"></div>
        <div id="siguiente" class="button" onclick="moverTrabajador(1)"></div>
    </div>
</div>