
@media (min-aspect-ratio: 3/4) {                  /* -- PC -- */

    #banner-homologaciones {
        position: absolute;
        right: calc(4*var(--size-horizontal));
        bottom: var(--size-vertical);

        flex-flow: row-reverse;
    }

}