
@media only screen and (max-width:481px) {  /* -- Mobile -- */

    #banner-homologaciones p {
        writing-mode: sideways-lr;
        transform: translateX(-30%);
    }

    #banner-homologaciones #iconos {
        margin-left: calc(0.5*var(--size-vertical));
    }

}