@import url(./banner-homologaciones-pc.css);
@import url(./banner-homologaciones-mobile.css);

#banner-homologaciones {
    box-shadow: var(--shadow);
    background: var(--color-text);
    border-radius: var(--border-radius);

    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;

    padding: calc(0.5*var(--size-vertical)) var(--size-vertical);
}

#banner-homologaciones * {
    color: var(--color-text-inverted);
}

#banner-homologaciones p {
    font-size: var(--size-vertical);
}

#banner-homologaciones #iconos {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#banner-homologaciones #iconos *{
    height: calc(3*var(--size-vertical));
    padding: calc(0.5*var(--size-vertical)) 0;
}